* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", "Inter", "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #0F172A;
  color: #F8FAFC;
  overflow-x: hidden;
}
